.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  color: #cacaca;
}

.footer a {
  text-decoration: none;
  color: #ff8c4f;
  font-weight: bold;
}

.footer a:hover {
  color: #fff;
}
